/bestsub.exe
/bestsub
/ADD.txt
/PROXYIP.txt
/.vscode/
/configs/config.yaml
/dist/
/tmp/
/coverage.out
/seeds.txt
/PROJECT_PLAN.md
/JS修改版.txt
/GeoLite2-Country.mmdb

*.exe
*.log
*.local
*.local.yaml
*.mmdb
